{% extends 'base.html.twig' %}

{% block title %} Page recherche de film {% endblock %}

{% block body %}

    {{ form_start(formrecherche) }}
        <div class="w-full justify-center  flex flex-col pt-6 sm:pt-0">
        <div class="w-3/6 bg-gray-50 sm:max-w-md p-5 mx-auto">
    <h2 class="mb-12 text-center text-5xl font-extrabold">Voilà la page pour rechercher un film :</h2>
        <div class="mb-4">
            {{form_row(formrecherche.NomFilm)}}
        </div>
        <div class="mt-6">
            <div class="w-full inline-flex items-center justify-center px-4 py-2 bg-red-600 border border-transparent rounded-md font-semibold capitalize text-white hover:bg-red-700 active:bg-red-700 focus:outline-none focus:border-red-700 focus:ring focus:ring-red-200 disabled:opacity-25 transition">{{ form_row(formrecherche.save) }}</div>
        </div>
  </div>
</div>
    {{ form_end(formrecherche) }}
{% endblock %}
